.score {
    width: 30px;
    height: 60px;
    margin: 0 0.5rem; 
    border-radius: 30px;
    background-color: var(--gray);
  }

.score:hover {
  background-color: var(--yellow);
}

.clickedScore {
  background-color: var(--yellow);
}